{
  "canBookmark" : false,
  "includePartyMembers" : true,
  "destinations" : [
    {
      "name" : "^#808080;/--ERR \"SPATIAL RUPTURE\";/^reset;",
      "planetName" : "^#808080;<ERR(\"LOCATION OBSTRUCTED\");>^reset;",
      "warpAction" : "InstanceWorld:neb_templedungeon",
      "icon" : "default"
    }
  ],
  "includePlayerBookmarks" : false
}
