{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ara", "Nelo", "Ank", "Way", "Nat", "Wai", "Kel", "Zen", "Cran", "Ger", "Nii", "Pa", "Lo", "Fa", "Far", "Fel", "Yan", "Oll", "Tre", "Du", "Di", "Zak", "Op", "Yui", "Poi", "Koi", "Kle", "Co", "Hon", "Ho", "Hog", "Fu", "Fa", "Del", "Dal", "Dun", "Tran", "Lem", "Kni", "Mu", "Kel", "Pea", "Mag", "Drag", "Drae", "Draw", "Dra", "Ju", "Je", "Bun", "Bu", "Bal", "Be", "Ba", "Crud", "Craf", "Crap", "Karp", "Ang", "An", "Pho", "Phi", "Psy", "Um", "Umu", "Umi", "Un", "Unt", "Unti", "Oro", "Ore", "Oren", "Pha", "Phae", "Fae", "Jak", "Wor", "War" ],
      [ { "mode" : "alts" }, "ta", "re", "e", "el", "le", "ti", "ah", "hu", "ni", "ga", "gi", "na", "se", "s", "er", "u", "i", "ka", "kan", "t", "we", "ote", "um", "op", "em", "nis", "me", "mi", "ma", "mo", "so", "suu", "sa", "ku", "ki", "tan", "cos", "sin", "co", "eem", "on", "one", "sic", "ges", "gel", "gent", "nus", "nis", "mar", "mak", "bal", "ba", "bu", "be", "ba", "bi", "ci", "ek", "eb", "eeb", "eek", "her", "him", "here", "hime", "hir", "hire", "y", "ty", "got", "ex", "xi", "fus", "fu", "lia", "lai", "lay", "lan", "land", "che", "di", "da", "do", "du", "de", "rie", "-Tal", "-En", "-Al", "-Fu", "-Hen", "-Oro", "-Phi", "-Um", "-Ki", "-Kal", "-Ni", "-Net", "-Jak" ]
    ]
  ]
}
