{
   "blockKey" : [
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },

    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

    {
      "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_brick",
      "flags" : [ "shipLockerPosition" ],
      "object" : "neb_shiplocker",
      "objectParameters" : {
        "treasurePools" : [ "nebuliteStarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : true
      },
      "objectResidual" : true
    },
    
    {
      "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_brick",
      "object" : "neb_shiplockerTier0",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_brick",
      "object" : "neb_techstation",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [0, 21, 128, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_brick",
      "object" : "neb_researchstation",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "neb_fuelhatchbroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [128, 44, 41, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "neb_fuelhatchbrokenTier0",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 90, 90, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "neb_fuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_block",
      "object" : "neb_shiplight",
      "objectResidual" : true
    },

    {
      "value" : [223, 223, 31, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_ornateblock",
      "object" : "neb_shiplight",
      "objectResidual" : true
    },
    
    {
      "value" : [191, 191, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_block",
      "object" : "neb_shiplightBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [128, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_block",
      "object" : "neb_shiplight",
      "objectParameters" : {
        "unbreakable" : true,
        "defaultLightState" : false
      }
    },
    
    {
      "value" : [171, 48, 254, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_block",
      "object" : "nebulitealarmbroken",
      "objectParameters" : {
        "unbreakable" : true,
        "defaultLightState" : true
      }
    },
    
    {
      "value" : [186, 84, 254, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_block",
      "object" : "nebulitealarm",
      "objectResidual" : true,
      "objectParameters" : {
        "defaultLightState" : true
      }
    },

    {
      "value" : [255, 102, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_block",
      "object" : "neb_shipdoor",
      "objectResidual" : true
    },
    
    {
      "value" : [128, 51, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_block",
      "object" : "neb_shipdoorBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [174, 137, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "shipengine",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [156, 0, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_block",
      "object" : "neb_teleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [79, 0, 128, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_block",
      "object" : "neb_teleporterTier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [167, 167, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamehuman",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [168, 168, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamehuman2",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [180, 180, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflamehuman3",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [166, 166, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflame",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [100, 100, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "bigboosterflameavian",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [200, 200, 200, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "bigboosterflamehuman",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [168, 168, 168, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "neb_smallboosterflame",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [190, 190, 190, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "neb_smallboosterflame",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "neb_captainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [143, 171, 80, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "neb_captainschair_console",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [144, 172, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "neb_captainschair_consoleT0",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [138, 99, 40, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "neb_shipwindow",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [0, 158, 96, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "neb_noisyalarm",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [122, 122, 122, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblelight",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [255, 232, 128, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblesparker",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 255, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_ornateblock"
    },

    {
      "value" : [255, 117, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_block"
    },

    {
      "value" : [255, 117, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "neb_pillarblock"
    },
    
    {
      "value" : [24, 91, 103, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "glass",
      "backgroundMat" : "neb_ornateblock",
      "foregroundResidual" : true,
      "backgroundResidual" : false
    },
    
    {
      "value" : [34, 101, 113, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "glass",
      "backgroundMat" : "neb_block",
      "foregroundResidual" : true,
      "backgroundResidual" : false
    },
    
    {
      "value" : [36, 98, 189],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "neb_platform",
      "backgroundMat" : "neb_block",
      "foregroundResidual" : true,
      "backgroundResidual" : false
    },
    
    {
      "value" : [74, 133, 221],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "neb_platform",
      "backgroundMat" : "neb_ornateblock",
      "foregroundResidual" : true,
      "backgroundResidual" : false
    },
    
    {
      "value" : [41, 111, 214],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "neb_platform",
      "backgroundMat" : "neb_pillarblock",
      "foregroundResidual" : true,
      "backgroundResidual" : false
    },
    
    {
      "value" : [84, 139, 222],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "neb_platform",
      "backgroundMat" : "neb_ornateblock",
      "foregroundResidual" : true,
      "backgroundResidual" : false
    },

    {
      "value" : [255, 255, 220],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true,
      "backgroundMat" : "neb_block"
    },

    {
      "value" : [255, 200, 220],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true,
      "backgroundMat" : "neb_block"
    }
  ]
}
