{
  "canBookmark" : true,
  "bookmarkName" : "Temple of Origin",
  "includePartyMembers" : true,
  "destinations" : [
    {
      "name" : "Return to ^#808080;/--ERROR;/^reset;",
      "planetName" : "^#808080;<ERR(\"LOCATION OBSTRUCTED\");>^reset;",
      "warpAction" : "Return",
      "icon" : "neb_anomaly"
    },
    {
      "name" : "^#FF2b2b;RAID: FORGOTTEN SENTRY^reset;",
      "planetName" : "Derelict Temple",
      "warpAction" : "InstanceWorld:neb_raidarena1",
      "icon" : "default"
    }
  ],
  "includePlayerBookmarks" : false
}
