{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Astral ", "Royal ", "Imperial ", "Ornate ", "Bastioned ", "Swift ", "Ancient ", "Arcane ", "Nimble " ],
      [ { "mode" : "alts" }, "Supernova", "Destroyer", "Executor", "Annihilator", "Reaper", "Nullifier", "Pacifier", "Quarterstaff", "Dancer", "Blade", "Stick", "Controller", "Threat", "Aggressor", "Observer", "Disector", "Shredder" ]
    ]
  ]
}
